
@{
    ViewBag.Title = "SMSModule";
}


<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">
            Message Sending Modules
            @if (TempData["ModuleName"] != null)
            {
                <h5>'Checked' for add Module and 'Unchecked' for Delete Module</h5>
            }
        </h3>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Oh snap! @TempData["Error"].
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Success! @TempData["Success"].
            </div>
        }
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Info! @TempData["Info"].
            </div>
        }
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="#" method="post" name="ClassForm">
                                    <div class="row">
                                        @if (TempData["ModuleName"] != null)
                                        {
                                            foreach (var i in (List<SMS.Models.SMSModuleName>)TempData["ModuleName"])
                                            {
                                                <div class="col-md-4 form-group">
                                                    <table class="table">
                                                        <tr>
                                                            <td hidden>@i.mnId</td>
                                                            <td> <input type="checkbox" class="checkthis">@i.mName</td>
                                                            <td class="updaterow"><textarea maxlength="100" id="ModuleText" placeholder="Max character Length is 100" rows="4"></textarea></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            }
                                        }


                                    </div>

                                    @*<div class="row col-md-12 form-group">
                                            <input class="btn btn-primary" type="submit" name="submitButton" value="Save">
                                        </div>*@
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div id="SMSModuleStart">
                                    @if (TempData["Module"] != null)
                                    {
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Module Name</th>
                                                        <th>Module Text</th>
                                                        <th>Module Status</th>
                                                        <th>Status Change Date</th>
                                                        <th>Approved</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in (List<SMS.Models.SMSModule>)TempData["Module"])
                                                {
                                                    <tbody>
                                                        <tr>

                                                            <td>@item.moduleName.mName</td>
                                                            <td>@item.smText</td>
                                                            <td>@item.smStatus</td>
                                                            <td>@item.smStatusChangeDate</td>
                                                            <td>@item.isLocked</td>
                                                            <td>
                                                                <a title="Update Detail" class="counter" href="@Url.Action("EditSMSModule", new { id = item.smId })">
                                                                    <i class="fa fa-edit" style="font-size:20px"></i>
                                                                </a>

                                                                <a title="Delete Detail" class="counter" href="@Url.Action("DelSMSModule", new { id = item.smId })">
                                                                    <i class="fa fa-trash" style="font-size:20px;color:red"></i>
                                                                </a>
                                                                @if (Convert.ToInt32(Session["RoleId"]) == 10)
                                                                {
                                                                    if (item.isLocked == false)
                                                                    {
                                                                        <a title="Approved" class="counter" href="@Url.Action("ApprovedModule", new { id = item.smId })">
                                                                            <i class="fa fa-unlock" style="font-size:20px;color:cornflowerblue"></i>
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a title="DisApproved" class="counter" href="@Url.Action("ApprovedModule", new { id = item.smId })">
                                                                            <i class="fa fa-lock" style="font-size:20px;color:cornflowerblue"></i>
                                                                        </a>
                                                                    }


                                                                }
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }
                                            </table>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div id="SMSModule">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="../../assets/plugins/jquery/jquery-3.1.0.min.js"></script>

<script type="text/javascript">
    $(function () {
        $(".table").on('change', '.checkthis', function () {
            if ($(this).prop('checked')) {

                var NameId = $(this).closest('tr').find('td').eq(0).text();
                var text = $(this).closest('tr').find("textarea").val();
                //var text = $(this).closest('tr').find('#ModuleText').find('td').eq(2).text();

                if (text != null && text != "")
                {
                    if (NameId !== "" && NameId != null)
                    {
                        $.post("@Url.Action("AddSMSModule", "SMS")?val=" + NameId + "&Text=" + text, function (res)
                        {
                        if (res.Success === "true")
                        {
                            $.ajax({
                            url: "@Url.Action("_SMSModule", "SMS")",

                            type: "Get",
                            dataType: "html",
                                success: function (data)
                                {
                                //Whatever result you have got from your controller with html partial view replace with a specific html.
                                    // HTML DOM replace
                                    $("#SMSModuleStart").hide();
                                $("#SMSModule").html(data);
                                }
                            });
                        }
                        else if (res.Success === "Available") {

                            alert("This Module is already available in your SMS Sending List!");

                            $.ajax({
                            url: "@Url.Action("_SMSModule", "SMS")",

                            type: "Get",
                            dataType: "html",
                                success: function (data)
                                {
                                //Whatever result you have got from your controller with html partial view replace with a specific html.
                                // HTML DOM replace
                                    $("#SMSModuleStart").hide();
                                $("#SMSModule").html(data);
                                }
                            });



                        }
                         else
                         {
                            alert("Module Not Added to your SMS Sending List!");
                            $(".checkthis").prop("checked", false);
                         }
                    });
                    }
                }
                else
                {
                    alert("Please Enter some Text For Message");
                    $(".checkthis").prop("checked", false);
                }

            }
            else {

                var NameId = $(this).closest('tr').find('td').eq(0).text();
                if (NameId !== "" && NameId != null) {
                    $.post("@Url.Action("AddSMSModule", "SMS")?unChecked=" + NameId, function(res) {
                     if (res.Success === "true")
                     {

                          $.ajax({
                            url: "@Url.Action("_SMSModule", "SMS")",

                            type: "Get",
                            dataType: "html",
                                success: function (data)
                                {
                                //Whatever result you have got from your controller with html partial view replace with a specific html.
                                // HTML DOM replace
                                    $("#SMSModuleStart").hide();
                                $("#SMSModule").html(data);
                                }
                            });

                     }
                     else
                     {
                         alert("Module Not Updeted to your SMS Sending List!");

                         $.ajax({
                            url: "@Url.Action("_SMSModule", "SMS")",

                            type: "Get",
                            dataType: "html",
                                success: function (data)
                                {
                                //Whatever result you have got from your controller with html partial view replace with a specific html.
                                // HTML DOM replace
                                    $("#SMSModuleStart").hide();
                                $("#SMSModule").html(data);
                                }
                            });



                     }
                 });
                }
            }

        });
    });

</script>