
@{
    Layout = null;
}
@{
    var s = TempData["Voucher"] as SMS.Models.StudentFee;
    var std = TempData["Std"] as SMS.Models.Student;
}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Download Fee Voucher</title>
</head>
<body>
    @if (s != null)
    {
        <div>
            <input type="button" class="btn btn-success" value="Print Report" onclick="print1()" />
        </div>
        <div id="Print">
            <div class="card-title">
                @if (Session["InsName"] != null)
                {
                    <p>
                        <img src="@Session["InsImage"]" width="65" height="65" style="float:left;" />
                        <h2 style="text-align: center;">@Session["InsName"]</h2>
                        <h3 style="text-align: center;"> Student Fee Voucher</h3>
                    </p>
                }
            </div>
            <table>
                <caption></caption>
                <thead>
                    <tr>
                        <th colspan="5">Fee Month: @s.paidDate.ToString("MMM-yyyy")</th>
                        <th>Receipt Print Date: @DateTime.Now.ToString("dd-MMM-yyyy")</th>
                    </tr>
                    <tr>
                        <td colspan="5">Student Name: <br><strong> @s.std.pr.perName</strong> <br> Roll Number<br> <strong>@s.std.stdRollNo</strong> </td>
                        <td colspan="5"> Session: <strong>@s.std.ses.sesName</strong><br> Class: <strong> @s.cls.classname </strong><br> Section: @s.sec.secName<br>  </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Fee</th>
                        <th>Status</th>
                        <th>Total Fee /Rs. </th>
                        <th>Discount /Rs. </th>
                        <th>Pending Fee /Rs. </th>
                        <th>Paid Fee /Rs. </th>
                    </tr>
                    <tr>
                        <td>@s.ft.feeTypeName</td>
                        <td>@s.feeStatus</td>
                        <td>@Convert.ToDecimal(@TempData["TotalFee"]).ToString("#,##0.00")  </td>
                        <td>@Convert.ToDecimal(@TempData["Discount"]).ToString("#,##0.00") </td>
                        <td>@Convert.ToDecimal(@s.PandingAmount).ToString("#,##0.00") </td>
                        <td>@Convert.ToDecimal(@s.feeAmount).ToString("#,##0.00")  </td>
                    </tr>
                    @*<tr>
                        <td>Staples (box)</td> <td>100</td> <td>1.00</td>
                        <td>100.00</td> </tr>*@
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">Total Paid Amount /Rs.</th>
                        <td> @Convert.ToDecimal(@s.feeAmount).ToString("#,##0.00") </td>
                    </tr> @*<tr> <th colspan="2">Tax</th> <td> 8% </td>
                        <td>8.80</td> </tr> <tr> <th colspan="3">Grand Total</th> <td>$ 118.80</td> </tr>*@
                </tfoot>
            </table>
        </div>
    }
    @if (std != null)
    {
        double Total = 0;
        double TotalDis = 0;
        double TotalPending = 0;
        double TotalFee = 0;
        <div>
            <input type="button" class="btn btn-success" value="Print Report" onclick="print1()" />
        </div>
        <div id="Print">
            <div class="card-title">
                @if (Session["InsName"] != null)
                {
                    <p>
                        <img src="@Session["InsImage"]" width="65" height="65" />
                        <h2 style="text-align: center;">@Session["InsName"]</h2>
                        <h3 style="text-align: center;"> Student Fee Receipt</h3>
                    </p>
                }
            </div>

            @if (TempData["AllVoucher"] != null)
            {
                <table>
                    <caption></caption>
                    <thead>
                        <tr>
                            <th colspan="5">Fee Month: @TempData["FeeMonth"]</th>
                            <td colspan="5">Receipt Print Date: @DateTime.Now.ToString("dd-MMM-yyyy")</td>
                        </tr>
                        <tr>
                            <td colspan="5">Student Name:<br><strong> @std.pr.perName</strong><br>Roll Number<br><strong>@std.stdRollNo</strong></td>
                            <td colspan="5"> Session: <strong>@std.ses.sesName</strong><br> Class: <strong> @std.cls.classname </strong><br> Section: @std.sec.secName<br>  </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Fee</th>
                            <th>Status</th>
                            <th>Total Fee /Rs. </th>
                            <th>Discount /Rs. </th>
                            <th>Pending Fee /Rs. </th>
                            <th>Paid Fee /Rs. </th>

                            @*<th colspan="1">Fee</th>
                                <th colspan="0">Status</th>
                                <th colspan="1">Amount(Rs.)</th>*@

                            @*<th>Qty.</th> <th></th>*@
                        </tr>
                        @foreach (var i in (List<SMS.Models.StdFeeDetail>)TempData["AllReceipt"])
                        {
                        <tr>
                            <td>@i.Fee</td>
                            <td>@i.FeeStatus</td>
                            <td>@Convert.ToDecimal(i.TotalFee).ToString("#,##0.00")  </td>
                            <td>@Convert.ToDecimal(i.Dis).ToString("#,##0.00") </td>
                            <td>@Convert.ToDecimal(i.PandingAmt).ToString("#,##0.00") </td>
                            <td>@Convert.ToDecimal(i.FeeAmt).ToString("#,##0.00")  </td>

                            @*<td>0.01</td> <td>10.00</td>*@
                        </tr>
                            TotalFee = TotalFee + i.FeeAmt;
                            TotalPending = TotalPending + i.PandingAmt;
                            TotalDis = TotalDis + i.Dis;
                            Total = Total + i.TotalFee;
                        }

                        @*<tr>
                            <td>Staples (box)</td> <td>100</td> <td>1.00</td>
                            <td>100.00</td> </tr>*@
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2">Total /Rs.</th>
                            <td>@Convert.ToDecimal(@Total).ToString("#,##0.00") </td>
                            <td>@Convert.ToDecimal(@TotalDis).ToString("#,##0.00") </td>
                            <td>@Convert.ToDecimal(@TotalPending).ToString("#,##0.00") </td>
                            <td>@Convert.ToDecimal(@TotalFee).ToString("#,##0.00") </td>
                        </tr> @*<tr> <th colspan="2">Tax</th> <td> 8% </td>
                            <td>8.80</td> </tr> <tr> <th colspan="3">Grand Total</th> <td>$ 118.80</td> </tr>*@
                    </tfoot>
                </table>
            }

        </div>
    }
    <script type="text/javascript">
        function print1() {
            var prtContent = document.getElementById('Print');
            var mywindow = window.open('', '', 'height=700,width=900');
            mywindow.document.write('<html><head>');
            mywindow.document.write('<link href = "/Content/bootstrap.min.css" rel = "stylesheet" />')
            mywindow.document.write('<link href = "/Content/Print.css" rel = "stylesheet" />')
            mywindow.document.write('</head><body>');
            mywindow.document.write(prtContent.innerHTML);
            mywindow.document.write('</body></html>');
            mywindow.document.close();
            setTimeout(function () {
                mywindow.print();
                mywindow.close();
            }, 500)

        }
    </script>
    <script>
        window.onload = print1();
            //function load() {
            //    print1();
            //}
    </script>
</body>
</html>
