
@{
    ViewBag.Title = "DownloadAllFeeVoucher";
}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">
            Print Student Fee Receipt
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm" style="float: right;">Read Me</a>
        </h3>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">  Usefull Info</h4>
                    </div>
                    <div class="modal-body">
                        You can download fee Receipt of singal student from here.

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Oh snap! @TempData["Error"].
                </div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Success! @TempData["SuccessMessage"].
                </div>
            }
            @if (TempData["Info"] != null)
            {
                <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Info! @TempData["Info"].
                </div>
            }
        </div>
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-white">
                        <div class="panel-body">
                            <div id="rootwizard">
                                <div class="row m-b-lg">
                                    <div class="col-md-6">
                                        <form action="~/Student/DownloadAllFeeVoucher" method="post">
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    <label for="exampleInputName2">Enter Roll Number</label>
                                                    <input type="text" class="form-control" name="RollNo" required>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="ageRangeField">Select Month</label>
                                                    <select id="month" name="month" class="form-control">
                                                        <option value="1">January</option>
                                                        <option value="2">Fabruary</option>
                                                        <option value="3">March</option>
                                                        <option value="4">April</option>
                                                        <option value="5">May</option>
                                                        <option value="6">June</option>
                                                        <option value="7">July</option>
                                                        <option value="8">August</option>
                                                        <option value="9">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                    </select>

                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="ageRangeField">Select Year</label>
                                                    <select id="year" name="Year" class="form-control">
                                                        <option value="2015">2015</option>
                                                        <option value="2016">2016</option>
                                                        <option value="2017">2017</option>
                                                        <option value="2018">2018</option>
                                                        <option value="2019">2019</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                        <option value="2027">2027</option>
                                                        <option value="2028">2028</option>
                                                        <option value="2029">2029</option>
                                                        <option value="2030">2030</option>
                                                        <option value="2031">2031</option>
                                                        <option value="2032">2032</option>
                                                        <option value="2033">2033</option>
                                                        <option value="2034">2034</option>
                                                        <option value="2035">2035</option>
                                                        <option value="2036">2036</option>
                                                        <option value="2037">2037</option>
                                                        <option value="2038">2038</option>
                                                        <option value="2039">2039</option>
                                                        <option value="2040">2040</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-12">

                                                    <input class="btn btn-primary" name="submitButton" type="submit" value="Show">
                                                </div>
                                            </div>
                                        </form>
                                        <hr />


                                    </div>
                                    <div class="col-md-6">
                                        @if (TempData["AllVoucher"] != null)
                                        {
                                            <div class="panel-heading clearfix">
                                                <h2 class="panel-title">
                                                    <b>Student Fee Receipt</b>
                                                    <a title="Print All Fee Receipt " class="counter" href="@Url.Action("DownloadFeeVoucher", new { RollNo = ViewBag.RollNo, Month = ViewBag.Month, Year = ViewBag.Year, })">
                                                        <i class="fa fa-print" style="font-size:30px; float:right"></i>
                                                    </a>
                                                </h2>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Fee</th>
                                                            <th>Amount</th>
                                                            <th>Status</th>
                                                            <th>Date</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    @foreach (var i in (IEnumerable<SMS.Models.StudentFee>)TempData["AllVoucher"])
                                                    {
                                                        <tbody>

                                                            <tr>
                                                                <td>@i.ft.feeTypeName</td>
                                                                <td>@i.feeAmount</td>
                                                                <td>@i.feeStatus</td>
                                                                <td>@i.paidDate.ToString("dd-MMM-yyyy")</td>
                                                                <td>
                                                                    <a title="Print Voucher" class="counter" href="@Url.Action("DownloadFeeVoucher", new { id = i.feeId })">
                                                                        <i class="fa fa-print" style="font-size:30px;"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    }

                                                </table>
                                            </div>
                                        }
                                    </div>



                                </div>

                            </div>



                        </div>
                    </div>
                </div>



            </div><!-- Row -->
        </div><!-- Main Wrapper -->

    </div>
