
@{
    ViewBag.Title = "ReceiveStdFee";
}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">
            Receive Student Fee
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm" style="float: right;">Read Me</a>
        </h3>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">  Usefull Info</h4>
                    </div>
                    <div class="modal-body">
                        Receive Student Fee in this section.
                        Enter roll no in Roll number box ----->  Click on "SHOW" button, by clicking you will see student information -------> Select fee type -------> Enter paid amount -----> Enter Paid Date ------> Click receive fee.

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Oh snap! @TempData["Error"].
            </div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Success! @TempData["SuccessMessage"].
            </div>
        }
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Info! @TempData["Info"].
            </div>
        }
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="rootwizard">
                            <div class="row m-b-lg">
                                <div class="col-md-6">
                                    <form action="~/Student/ReceiveStdFee" method="post">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="exampleInputName2">Enter Roll Number</label>
                                                <input type="text" placeholder="Enter Roll Number" class="form-control" name="StdRoll" id="nameField" required>
                                            </div>

                                            <div class="form-group col-md-12">

                                                <input class="btn btn-primary" name="submitButton" type="submit" value="Show">
                                            </div>
                                        </div>
                                    </form>
                                    <hr />
                                    <form action="" method="post">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Roll Number</label>
                                                <input type="text" placeholder="" name="RollNo" class="form-control" value="@ViewBag.StdRoll" id="RollNo" required readonly>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Student Name</label>
                                                <input type="text" placeholder="" name="cfpAmt" class="form-control" value="@ViewBag.StdName" id="nameField" required readonly>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Session</label>
                                                <input type="text" placeholder="" name="sesId" class="form-control" value="@ViewBag.StdSes" id="nameField" required readonly>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Class</label>
                                                <input type="text" placeholder="" class="form-control" name="classId" value="@ViewBag.StdClass" id="nameField" required readonly>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Section</label>
                                                <input type="text" placeholder="" name="secId" class="form-control" value="@ViewBag.StdSec" id="nameField" required readonly>
                                            </div>
                                            <div class="form-group col-md-6">
                                                @if (ViewData["FeeType"] != null)
                                                {
                                                    <label for="ageRangeField">Fee Type</label>
                                                    @Html.DropDownList("feeTypeId", (SelectList)ViewData["FeeType"], "--Select Fee Type--", new { required = "required", @class = "form-control" })
                                                }

                                            </div>

                                        </div>



                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="nameField">Paid Amount</label>
                                                <input type="number" placeholder="0" class="form-control" min="0" name="FeeAmt" required>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="nameField">Paid Date</label>
                                                <input type="text" class="form-control date-picker" name="FeeDate" value="" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <input type="text" name="sfpRemarks" placeholder="Remarks" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="submit" value="Receive Fee" class="btn btn-primary" />
                                            </div>
                                        </div>

                                    </form>
                                    @if (TempData["PartialFee"] != null)
                                    {
                                        <button class="btn btn-default" id="Partail">Check Previous Partial Fee(s)</button>
                                    }

                                </div>
                                
                                <div class="col-md-6">
                                    @if (ViewData["FeeDetail"] != null)
                                    {
                                        <div class="panel-heading clearfix">
                                            <h2 class="panel-title">
                                                <b>Student Fee Package</b>
                                            </h2>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Fee Type</th>
                                                        <th>Fee Amount(Rs.)</th>
                                                        <th>Discount (Rs.)</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var item in (List<SMS.Models.StdFeeDetail>)ViewData["FeeDetail"])
                                                {
                                                    <tbody>

                                                        <tr>
                                                            <td>@item.FeeName</td>
                                                            <td>@item.FeeAmt</td>
                                                            <td>@item.Dis</td>
                                                            <td>

                                                                <a title="Update Package" class="counter" href="@Url.Action("EditStdFeePkg", new {  id = item.sfpId, RollNo = @ViewBag.StdRoll, Page = "Received"  })">
                                                                    <i class="fa fa-edit" style="font-size:20px"></i>
                                                                </a>
                                                                &nbsp;
                                                                <a title="Delete Package" class="counter" href="@Url.Action("DelStdFee", new { id = item.sfpId, RollNo = @ViewBag.StdRoll, Page = "Received" })">
                                                                    <i class="fa fa-trash" style="font-size:20px;color:red"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }

                                            </table>
                                        </div>
                                    }
                                </div>

                                <div class="col-md-6">
                                    @if (TempData["StdFeeStatus"] != null)
                                    {
                                        <div class="panel-heading clearfix">
                                            <h2 class="panel-title"><b>Student Fee Status  @DateTime.Now.ToString("MMM-yyyy")</b></h2>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Fee</th>
                                                        <th>Amount(Rs.)</th>
                                                        <th>Pending(Rs.)</th>
                                                        <th>Status</th>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var i in (IEnumerable<SMS.Models.StdFeeDetail>)TempData["StdFeeStatus"])
                                                {
                                                    <tbody>
                                                        <tr>
                                                            <td>@i.FeePaidName</td>
                                                            <td>@i.PaidAmt</td>
                                                            <td>@i.Panding</td>
                                                            <td>@i.FeePaidStatus</td>
                                                            @if (i.FeePaidStatus == "Unpaid")
                                                            {
                                                                <td>---</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@i.FeeDate.ToString("dd MMM yyyy")</td>
                                                            }
                                                            @if (i.FeePaidStatus != "Unpaid")
                                                            {
                                                                <td>

                                                                    <a title="Update Fee" class="counter" href="@Url.Action("UpdateReceivedFee", new {  id = i.feeId, RollNo = @ViewBag.StdRoll  })">
                                                                        <i class="fa fa-edit" style="font-size:20px"></i>
                                                                    </a>
                                                                    &nbsp;
                                                                    <a title="Delete Fee" class="counter" href="@Url.Action("DeleteReceivedFee", new { id = i.feeId, RollNo = @ViewBag.StdRoll })">
                                                                        <i class="fa fa-trash" style="font-size:20px;color:red"></i>
                                                                    </a>
                                                                    &nbsp;

                                                                    <a title="Print Receipt" class="counter" target="_blank" href="@Url.Action("DownloadFeeVoucher", new { id = i.feeId })">
                                                                        <i class="fa fa-print" style="font-size:20px;"></i>
                                                                    </a>



                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>---</td>
                                                            }

                                                        </tr>
                                                    </tbody>
                                                }

                                            </table>
                                        </div>
                                    }
                                </div>
                                
                                <div class="col-md-9">
                                    <div id="PendingFee">

                                    </div>
                                </div>


                            </div>

                        </div>



                    </div>
                </div>
            </div>



        </div><!-- Row -->
    </div><!-- Main Wrapper -->

</div>

<script src="../../assets/plugins/jquery/jquery-3.1.0.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#Partail").click(function (event) {
            var RollNo = $("#RollNo").val();
          
            if (RollNo != "" || RollNo != null) {
                $.ajax({
                    url: "@Url.Action("FindPartialFee", "Student")",
                    data: { RollNo: RollNo },
                    type: "Get",
                    dataType: "html",
                    success: function (data) {
                        //Whatever result you have got from your controller with html partial view replace with a specific html.
                        // HTML DOM replace
                        $("#PendingFee").html(data);
                    }
                });
            } else {

            }

        });
    });
</script>



