
@{
    ViewBag.Title = "AddRelation";
}

<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">
            Make Student to Parent Relation Person List 
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm" style="float: right;">Read Me</a>
        </h3>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">  Usefull Info</h4>
                    </div>
                    <div class="modal-body">
                        Here you can make chidren relation with their parent so that parent can access them.
                        Enter Roll no of student -------> Click "SHOW" -------> Select Parent --------> Click on "Make Relation" button.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Oh snap! @TempData["Error"].
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Success! @TempData["Success"].
            </div>
        }
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Info! @TempData["Info"].
            </div>
        }
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="rootwizard">
                            <div class="row m-b-lg">
                                <div class="col-md-6">
                                    <form action="~/Relation/AddRelation" method="post">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Enter RollNumber</label>
                                                <input type="text" placeholder="Roll Number" name="RollNo" class="form-control" id="nameField">
                                            </div>
                                            <div class="form-group col-md-6">
                                                @if (ViewBag.Name != null)
                                                {
                                                    <label for="ageRangeField">Student Name:</label>
                                                    <input type="text" placeholder="" readonly name="StdName" class="form-control" value="@ViewBag.Name" id="nameField">
                                                    <input type="hidden" name="PerID" value="@ViewBag.PerId" />
                                                }
                                            </div>
                                            <div class="form-group col-md-12">
                                                <input type="submit" class="btn btn-primary" name="submit" value="Show">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label>Please Select Parent</label>
                                                @Html.DropDownList("perId", (SelectList)ViewData["Parent"], "--Select Parent--", new { @Name = "LoginId", @class = "form-control" })
                                            </div>
                                            <div class="form-group col-md-12">
                                                <input class="btn btn-primary" type="submit" name="submit" value="Make Relation">
                                            </div>

                                        </div>

                                    </form>
                                    <hr />
                                </div>
                                <div class="col-md-6">
                                    @if (TempData["Relation"] != null)
                                    {<div class="page-title">
                                            <h3 class="breadcrumb-header">This Student Relation is Already Made</h3>
                                        </div>
                                     <div class="table-responsive">
                                         <table class="table table-bordered">

                                             <tr>
                                                 <th>Roll Number</th>
                                                 <th>Student Name</th>
                                                 <th>Father Name</th>
                                                 <th>Action</th>

                                             </tr>
                                             <tr>
                                                 <td>@ViewBag.RollNo</td>
                                                 <td>@ViewBag.Student</td>
                                                 <td>@ViewBag.Father</td>
                                                 <td>
                                                     <a title="Update Detail" class="counter" href="@Url.Action("EditRelation", new { id = @ViewBag.Id })">
                                                         <i class="fa fa-edit" style="font-size:20px"></i>
                                                     </a>

                                                     <a title="Delete Detail" class="counter" href="@Url.Action("DelRelation", new { id = @ViewBag.Id })">
                                                         <i class="fa fa-trash" style="font-size:20px;color:red"></i>
                                                     </a>
                                                 </td>
                                             </tr>
                                         </table>
                                     </div>
                                         }
                                     </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>



        </div><!-- Row -->
    </div><!-- Main Wrapper -->

</div>

