
@{
    ViewBag.Title = "AddShortCourseSubject";
}



<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">
            Add Short Course
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm" style="float: right;">Read Me</a>
        </h3>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">  Usefull Info</h4>
                    </div>
                    <div class="modal-body">
                        Short courses details will be added here.
                        Select Class -------> Enter Course Name ---------> Course Fee -------> Enter Course duration in days --------> Click on "SAVE" button, By clicking you will see the Short courses details.
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Oh snap! @TempData["Error"].
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Success! @TempData["Success"].
            </div>
        }
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Info! @TempData["Info"].
            </div>
        }
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="rootwizard">
                            <div class="row m-b-lg">
                                <div class="col-md-6">
                                    <form action="~/ShortCourse/AddShortCourseSubject" method="post">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Select Class</label>
                                                @Html.DropDownList("classId", (SelectList)ViewData["Class"], "--Select Class--", new { required = "required", @class = "form-control" })
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Course Name</label>
                                                <input type="text" placeholder="" name="scsName" value="" id="nameField" class="form-control" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Course Fee(Rs.)</label>
                                                <input type="number" placeholder="" name="scsFee" value="" id="nameField" class="form-control" required>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Course Duration (In Days)</label>
                                                <input type="number" placeholder="" name="scsDuration" value="" id="nameField" class="form-control" required>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <input class="btn btn-primary" name="submitButton" type="submit" value="Save">
                                            </div>
                                        </div>
                                    </form>
                                    <hr />
                                </div>
                                <div class="col-md-6">
                                    @if (TempData["Subject"] != null)
                                    {
                                        <div class="panel-heading clearfix">
                                            <h2 class="panel-title">
                                                <b>Short Course Detail</b>
                                             
                                            </h2>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Class</th>
                                                        <th>Subject Name</th>
                                                        <th>Fee</th>
                                                        <th>Duration</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var i in (IEnumerable<SMS.Models.short_course_Subject>)TempData["Subject"])
                                                {
                                                    <tbody>

                                                        <tr>
                                                            <td>@i.cls.classname</td>
                                                            <td>@i.scsName</td>
                                                            <td>@i.scsFee./Rs</td>
                                                            <td>@i.scsDuration Days</td>
                                                            <td>
                                                                <a title="Update Course" class="counter" href="@Url.Action("UpdateShortCourse",  new { id = i.scsId })">
                                                                    <i class="fa fa-edit" style="font-size:18px"></i>
                                                                </a>
                                                                &nbsp;
                                                                <a title="Delete Course" class="counter" href="@Url.Action("DeleteShortCourse", new { id = i.scsId })">
                                                                    <i class="fa fa-trash" style="font-size:18px;color:red"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                }

                                            </table>
                                        </div>
                                    }
                                </div>



                            </div>

                        </div>



                    </div>
                </div>
            </div>



        </div><!-- Row -->
    </div><!-- Main Wrapper -->

</div>