
@{
    ViewBag.Title = "Student_Performance";
}
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">
            Student Performance Report
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm" style="float: right;">Read Me</a>
        </h3>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">  Usefull Info</h4>
                    </div>
                    <div class="modal-body">
                        You can check student Performance by comparing Exam type .
                        Enter roll no --------> Select Exam Type ---------> Select Exam Type ---------> Click "SHOW", by clicking you will see the complete marks sheet.
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Oh snap! @TempData["Error"].
            </div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Success! @TempData["SuccessMessage"].
            </div>
        }
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Info! @TempData["Info"].
            </div>
        }
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="rootwizard">
                            <div class="row m-b-lg">
                                <div class="col-md-6">
                                    <form action="~/StudentMainReport/Student_Performance" method="post">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="exampleInputName2">Enter Roll Number</label>
                                                <input type="text" placeholder="Enter Roll Number" class="form-control" name="StdRoll" id="nameField" value="@TempData["RollNo"]" required>
                                                <input type="hidden" class="form-control" name="RollNo" id="StdId" value="@TempData["StdId"]">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <input class="btn btn-primary" name="submitButton" type="submit" value="Show">
                                            </div>
                                            <br />
                                            @if (ViewData["Exam"] != null)
                                            {
                                                <div class="form-group col-md-6">
                                                    <label for="ageRangeField">Exam Type for Performance</label>
                                                    @Html.DropDownList("etId", (SelectList)ViewData["Exam"], "Select Exam Type", new { @id = "Exam1", @class = "form-control" })
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="ageRangeField">Exam Type for Performance</label>
                                                    @Html.DropDownList("etId", (SelectList)ViewData["Exam"], "Select Exam Type", new { @id = "Exam2", @class = "form-control" })
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <input class="btn btn-primary" name="submitButton" id="Calculate" type="button" value="Calculate Performance">
                                                </div>
                                            }

                                        </div>
                                    </form>
                                    <hr />
                                </div>
                                <div class="col-md-12">
                                    <div id="Performance">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
</div>

<script src="../../assets/plugins/jquery/jquery-3.1.0.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#Calculate").click(function (event) {
            var stdId = $("#StdId").val();
            var exam1 = $("#Exam1").val();
            var exam2 = $("#Exam2").val();

            if (stdId != "" &&  stdId != null) {
                if (exam1 != "" && exam1 != null) {
                    if (exam2 != "" && exam2 != null) {
                            $.ajax({
                            url: "@Url.Action("_StdPerformance", "StudentMainReport")",
                                data: { Exam1: exam1, Exam2: exam2, StdId: stdId },
                            type: "Get",
                            dataType: "html",
                            success: function (data) {
                            //Whatever result you have got from your controller with html partial view replace with a specific html.
                            // HTML DOM replace
                            $("#Performance").html(data);
                            }
                            });

                    } else {
                        alert("Please Select Exam type for comparing Performance");
                    }
                } else {
                    alert("Please Select Exam type for comparing Performance");
                }

            } else {
                alert("Please Enter Roll No");
            }

        });
    });
</script>
