@model IEnumerable<SMS.Models.InstituteInfo>

@{
    ViewBag.Title = "InsituteInfo";
}
<!-- Page Inner -->
 <div class="page-inner">
     <div class="page-title">
         <h3 class="breadcrumb-header">Institute Info</h3>
         @if (TempData["Error"] != null)
         {
             <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 Oh snap! @TempData["Error"].
             </div>
         }
         @if (TempData["SuccessMessage"] != null)
         {
             <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Success! @TempData["SuccessMessage"].
             </div>

         }
         @if (TempData["Info"] != null)
         {
             <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0;">
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 Info! @TempData["Info"].
             </div>
         }
     </div>
        <div id="main-wrapper">
            <div class="row">
                  
                    
                    <div class="col-md-12">
                        <div class="panel panel-white">
                            <div class="panel-heading clearfix">
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                
                                                <th>Institue Name</th>
                                                <th>Institute Address</th>
                                                <th>Phone Number</th>
                                                <th>Logo</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        @if (TempData["InsituteInfo"] != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td>@item.intName</td>
                                                        <td>@item.intAddress</td>
                                                        <td>@item.intPhone</td>
                                                        <td>
                                                            @{
                                                                var base64 = Convert.ToBase64String(item.intLogo);
                                                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                                            }
                                                            <img height="40" width="40" src="@imgSrc" alt="@item.intName">
                                                        </td>
                                                        <td>
                                                            <a title="Update Institute Info" class="counter" href="@Url.Action("UpdateInsituteInfo", new { id = item.intId })">
                                                                <i class="fa fa-edit" style="font-size:20px"></i>
                                                            </a>
                                                            @*<a title="Del InsituteInfo" class="counter" href="@Url.Action("DelInsituteInfo", new { id = item.intId })">
                                <i class="fa fa-trash" style="font-size:35px;color:red"></i>
                            </a>*@
                                                        </td>
                                                       


                                                    </tr>
                                                </tbody>
                                                                    }
                                                                }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div><!-- /Page Content -->

