@model SMS.Models.Campus

@{
    ViewBag.Title = "UpdateCampus";
}

@using (Html.BeginForm("UpdateCampus", "Home"))
{
    <div class="page-inner">
        <div class="panel-title">
            <h3 class="breadcrumb-header"> Update Campus</h3>
        </div>
        <div id="main-wrapper">
            <div class="row">

                <div class="col-md-12">


                    <div class="panel panel-white">
                        <div class="panel-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.camId)
                            <div class="col-md-3">
                                <div class="form-group">

                                    <label>Campus Name</label>
                                    @Html.EditorFor(model => model.campusname, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.campusname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <label>Campus Code</label>
                                    @Html.EditorFor(model => model.CampCode, new { htmlAttributes = new { @class = "form-control", Maxlength = "2" } })
                                    @Html.ValidationMessageFor(model => model.CampCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <label>Address</label>
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">

                                    <label>Phone</label>
                                    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">

                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



