@model SMS.Models.Documents
@{
    ViewBag.Title = "UploadDoument";
}
<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">
            Upload Documents
            <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-sm" style="float: right;">Read Me</a>
        </h3>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">  Usefull Info</h4>
                    </div>
                    <div class="modal-body">
                        Here you can upload any kind of documents like any annoucment, Fee Schedule, Exam Report etc. 
                    <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Oh snap! @TempData["Error"].
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Success! @TempData["Success"].
            </div>
        }
        @if (TempData["Info"] != null)
        {
            <div class="alert alert-info alert-dismissible" role="alert" style="margin-bottom:0;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Info! @TempData["Info"].
            </div>
        }
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-white">
                    <div class="panel-body">
                        <div id="rootwizard">
                            <div class="row m-b-lg">
                                <div class="col-md-12">
                                    <form action="~/Home/UploadDoument" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <label for="ageRangeField">Session</label>
                                                <input type="hidden" name="From" value="@ViewBag.From" />
                                                @Html.DropDownList("sesId", (SelectList)ViewData["Session"], "Select Session", new { required = "required", @class = "form-control" })
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="ageRangeField">Class</label>
                                                @Html.DropDownList("classId", (SelectList)ViewData["Class"], "Select Class", new { required = "required", @class = "form-control" })
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="ageRangeField">Section</label>
                                                @Html.DropDownList("secId", (SelectList)ViewData["Section"], "--Select Section--", new { required = "required", @class = "form-control" })
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="ageRangeField">Subject</label>
                                                @Html.DropDownList("subId", (SelectList)ViewData["SubJect"], "--Select Subject--", new { required = "required", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-3">
                                                <label for="ageRangeField">Document Title</label>
                                                <input type="text" name="DocTitle" class="form-control" required />
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="ageRangeField">Document Expiry Date</label>
                                                <input type="text" name="ExpiryDate" class="date-picker form-control" />
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="ageRangeField">Document Status</label>
                                                <select class="form-control" name="isVisible">
                                                    <option value="true">Visible</option>
                                                    <option value="false">Not Visible</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="ageRangeField">Choose Document file</label>
                                                <input type="file" name="file" class="form-control"  required/>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Note</label>
                                                <input type="text" name="Note" class="form-control" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="ageRangeField">Personal Note(Only For me)</label>
                                                <input type="text" name="PersonalNote" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-md-12">
                                                <input class="btn btn-primary" type="submit" id="show" value="Show">
                                            </div>
                                        </div>
                                    </form>
                                    <hr />
                                </div>
                                <div class="col-md-12">
                                    @if (TempData["Docs"] != null)
                                    {
                                        <div class="panel-heading clearfix">
                                            <h2 class="panel-title">
                                                <b>Uploaded Documents</b>

                                            </h2>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Document Title</th>
                                                        <th>Session</th>
                                                        <th>Class</th>
                                                        <th>Section</th>
                                                        <th>Subject</th>
                                                        <th>Note</th>
                                                        <th>Personal Note</th>
                                                        <th>Expiry Date</th>
                                                        <th>Download</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var i in (List<SMS.Models.StdFeeDetail>)TempData["Docs"])
                                                {
                                                    <tr>
                                                        <td>@i.Title</td>
                                                        <td>@i.Ses</td>
                                                        <td>@i.Class</td>
                                                        <td>@i.Sec</td>
                                                        <td>@i.Subject</td>
                                                        <td>@i.Note</td>
                                                        <td>@i.PersonalNote</td>
                                                        <td>@i.Expiry.ToString("dd-MMM-yyyy")</td>
                                                        <td><a target="_blank" class="btn btn-default" href="@Url.Action("DownloadDocument", "Home", new { id = i.DocId})"><i class="fa fa-download"> Download</i></a></td>
                                                        <td>
                                                            <a title="Update Data" class="counter" href="@Url.Action("EditDocument", new { id = i.DocId, From = @ViewBag.From })">
                                                                <i class="fa fa-edit" style="font-size:20px"></i>
                                                            </a>
                                                            &nbsp;
                                                            <a title="Delete Data" class="counter" href="@Url.Action("DelDocument", new { id = i.DocId, From = @ViewBag.From })">
                                                                <i class="fa fa-trash" style="font-size:20px;color:red"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }

                                            </table>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div><!-- Row -->
    </div><!-- Main Wrapper -->

</div>


